
function userIsMedicalProfessional() {
  return isAuthenticated() && callerHasRole("§role_medicalprofessional§");
}

function userIsProvisioner() {
  return isAuthenticated() && callerHasRole("§role_provisioner§");
}

function adviceIsPendingAndUserIsLoggedIn() {
  return request.auth != null && !('uid' in resource.data.keys());
}

function adviceBelongsToUser() {
  return request.auth != null && ('uid' in resource.data.keys()) && resource.data.uid == request.auth.uid;
}

match /§collection_advice§/{adviceId} {
  allow get: if userIsMedicalProfessional() || adviceIsPendingAndUserIsLoggedIn() || adviceBelongsToUser();
  allow list: if userIsMedicalProfessional() || adviceBelongsToUser();
  allow create: if userIsMedicalProfessional();
  allow update: if userIsMedicalProfessional() || adviceIsPendingAndUserIsLoggedIn();
}

match /§collection_medicalprofessional§/{mpId} {
  allow read: if isAuthenticated();
  allow write: if userIsProvisioner();
}

// demo
match /§collection_advice_demo§/{adviceId} {
  allow read;
  allow write: if false;
}
